.topbar-wrapper{
    width: 100%;
    line-height: 40px;
    background-color: #333333;
}
.topbar{
    height: 40px;
    font-size: 12px;
}
.topbar a{
    text-decoration: none;
    color: #b0b0b0;
    display: block;
}
.topbar a:hover{
    color: rgb(255, 255, 255);
}
.topbar .service  li{
    float: left;
}
.download-location{
    position: relative;
}
.app::after{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: none;
    border-bottom-color: #f9f9f8;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}
.download-location:hover .app::after
{
    display: block;
}
.topbar .app:hover .download{
    height: 148px;
}
.topbar .service .download{
    width: 124px;
    height: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: -40px;
    /* display: none; */
    overflow: hidden;
    line-height: 1;
    text-align: center;
    transition: height 1s;
}
.topbar .qrcode{
    width: 90px;
    height: 90px;
    margin: 17px;
}
.topbar .download-word{
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.topbar .user-info li,
.topbar .shopping-cart
{
    float: right;
}
.line{
    color: #424242; 
    font-size: 13px;
    margin: 0 8px;
}
/* .topbar .service li{
    position: relative;
    z-index: 100;
}
.topbar .user-info li{
    position: relative;
    z-index: 100;
}  */
.shopping-cart{
    width: 120px;
    text-align: center;
    background-color: #424242;
    margin-left: 26px;
    position: relative;
}
.topbar .shopping-cart a{
    position: relative;
    z-index: 99;
}
.topbar .shopping-cart:hover .goods{
    height: 128px;
}
.topbar .shopping-cart .goods{
    width: 400px;
    height: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: absolute;
    right: 0;
    /* display: none; */
    text-align: center;
    overflow: hidden;
}   
.goods span{
    display: block;
    line-height:1.5;
    padding-top: 58px;

}
.shopping-cart:hover a{
    color: #FF6700;
    background-color: #fff;
}
.shopping-cart:hover .goods{
    display: block;
    transition: height 1s;
}
.shopping-cart .fas{
    margin-right: 2px;
}
/* 设置第二个导航栏 */
/* 设置第二个导航栏外部容器 */
.nav-warapper{
    height:100px;
    background-color: rgb(208, 12, 12);
}
/* 设置导航栏 */
.left-logo{
    height: 100px;
    width: 55px;
    background-color: rgb(255, 255, 255);
    float: left;
}
/* 设置logo区域 */
.left-logo .logo{
    float: left;
    position: relative;
    width: 55px;
    height: 55px;
    margin-top: 22.5px;
    /* background-color: rgb(248, 20, 20); */
    overflow: hidden;
    text-indent: -9999px;
}
/* 统一设置图标链接样式 */
.left-logo a{
    width: 55px;
    height: 55px;
    background-color: #FF6900;
    background-image: url(../img/mi-logo.png);
    background-position: center;
    /* border-radius: 20px; */
    position: absolute;
    left:0;
    transition: left 0.3s;
}
/* 设置home链接样式 */
.left-logo .home-link{
    background-image: url(../img/mi-home.png);
    left: -55px;
}
/* 设置logo-link的小米图标 */
/* .left-logo .mi-link{
    width: 55px;
    height: 55px;
    background-color: #FF6900;
    background-image: url(../img/mi-logo.png);
    background-position: center;
    border-radius: 20px;
    position: absolute;
    left:0;
    transition: left 1s;
} */
/* 设置logo-link的home图标 */
/* left-logo .home-link{
    width: 55px;
    height: 55px;
    background-color: #FF6900;
    background-image: url(../img/mi-home.png);
    background-position: center;
    border-radius: 20px;
    position: absolute;
    left: -55px;
    transition: left 1s;
} */
/* 设置鼠标移入时图标的动画 */
.left-logo .mi-link:hover{
    left: 55px;
}
.left-logo .logo:hover .home-link{
    left:0;
}
/* 设置中间导航条 */
.nav{
    float: left;
    height: 100px;
    line-height: 100px;
}
.nav li{
    float: left;
}