.topbar-wrapper{
    width: 100%;
    line-height: 40px;
    background-color: #333333;
}
.topbar{
    height: 40px;
    font-size: 12px;
}
.topbar a{
    text-decoration: none;
    color: #b0b0b0;
    display: block;
}
.topbar a:hover{
    color: rgb(255, 255, 255);
}
.topbar .service  li{
    float: left;
}
.download-location{
    position: relative;
}
.topbar a:hover .download{
    display: block;
}
.topbar .service .download{
    width: 124px;
    height: 148px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: -40px;
    display: none;
    line-height: 1;
    text-align: center;
    padding-bottom: 10px;
}
.topbar .qrcode{
    /* display: block; */
    width: 90px;
    height: 90px;
    margin: 17px;
    /* margin: 0 auto;
    margin-top: 20px; */
}
.topbar .download-word{
    font-size: 15px;
    color: rgb(0, 0, 0);
    /* padding-left: 15px; */
}
.topbar .user-info li,
.topbar .shopping-cart
{
    float: right;
}
.line{
    color: #424242; 
    font-size: 13px;
    margin: 0 8px;
}
.shopping-cart{
    width: 120px;
    text-align: center;
    background-color: #424242;
    margin-left: 26px;
}
.shopping-cart:hover a{
    color: #FF6700;
    background-color: #fff;
}
.shopping-cart .fas{
    margin-right: 2px;
}